.clear {
  clear: both;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  width: 960px;
  margin: auto;
}

@font-face {
  font-family: Popular;
  src: url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-2.eot?") format("embedded-opentype"),
   url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-3.woff") format("woff"),
   url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-1.ttf") format("truetype"),
   url("http://apps.startribune.com/fonts/popular/regular/851caebd-2961-4fd9-a500-2b38452b1ec9-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Popular-medium;
  src: url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-2.eot?") format("embedded-opentype"),
   url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-3.woff") format("woff"),
   url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-1.ttf") format("truetype"),
   url("http://apps.startribune.com/fonts/popular/medium/96c3bd87-fed5-419d-a1cf-d947b17d6ab7-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Popular-bold;
  src: url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-2.eot?") format("embedded-opentype"),
    url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-3.woff") format("woff"),
    url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-1.ttf") format("truetype"),
    url("http://apps.startribune.com/fonts/popular/bold/9a23c9ca-82fe-417a-9070-5f5daeaf6214-4.svg#web") format("svg");
  font-style: normal;
  font-weight: bold;
}

.graphic {
  margin: 0 auto 50px auto;
  color: #333;
}

.introbox {
  background-color: none;
  margin: 40px 0 0 0;
}

.introHed {
  font-family: Popular, sans-serif;
  font-size: 36px;
  color: #999;
  text-align: center;
  margin: 20px 0 0 0;
}
.labelHed {
  font-family: Popular-bold, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 18px 0 3px 0;
  text-transform: uppercase;
}
.globber {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: #333;
  margin-bottom: 7px;
}
.sampleBallot {
  float: right;
  vertical-align: top;
}

.graphic h1 {
  font-family: Arial, sans-serif;
  font-size: 27px;
  margin-bottom: 0px;
  text-align: center;
}

.graphic h2 {
  font-family: Arial, sans-serif;
  font-size: 23px;
  margin-bottom: 0px;
  text-align: center;
}

.graphic p {
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 18px;
}

.summary {
  font-family: Gerogia, serif;
  font-size: 18px;
  line-height: 20px;
  width: 550px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.sub-summary {
  font-family: Gerogia, serif;
  font-size: 18px;
  line-height: 20px;
  width: 550px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.chart-wrapper {
  position: relative;
  height: 580px;
  margin-bottom: 50px;
}

.controls {
  position: absolute;
  top: 200px;
  left: 0px;
}

.explanation {
  width: 420px;
  height: 50px;
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 158px;
}

.btn {
  float: left;
  width: 50px;
  height: 25px;
  padding: 6px 10px;
  margin: 4px 2px;
  background-color: #666;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 12px;
}
.btn:hover {
  background-color: #777;
}
.btn-inactive {
  background-color: #ccc;
  cursor: default;
}
.btn-inactive:hover {
  background-color: #ccc;
}

.chart {
  margin: 20px 0;
}

.candidates {
  margin-left: 28px;
}
.candidate {
  float: left;
  margin: 0 50px;
  width: 130px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 13px;
  color: #333;
}
.candidate img {
  max-width: 80px;
  padding: 2px;
  opacity: 0.4;
  transition: opacity .4s linear;
}
.candidate-eliminated img {
  opacity: 0.1;
  transition: opacity .4s linear;
}

.candidates20 {
  margin-left: 58px;
}
.candidates20 .candidate {
  float: left;
  margin: 0 5px;
  width: 34.5px;
  text-align: center;
}
.candidates20 .candidate img {
  max-width: 34.5px;
  padding: 2px;
  opacity: 0.4;
}
.candidates20 .candidate-eliminated img {
  opacity: 0.1;
  transition: opacity .4s linear;
}

.round-label {
  font-family: Arial, sans-serif;
  font-size: 13px;
  fill: #333;
  stroke: none;
}
.guide-wrapper {
}
.annotation {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: #666;
  stroke: none;
}
.leader-line {
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.guide {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.threshold {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  shape-rendering: crispEdges;
}
.threshold-label {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: #666;
  stroke: none;
}
.vote-line {
  fill: none;
  stroke: #334561;
  stroke-opacity: 0.5;
  transition: stroke-opacity .1s linear;
}
.vote-line-active {
  stroke-opacity: 0.9;
  transition: stroke-opacity .1s linear;
}
.vote-line-original {
  stroke: #58794F;
}

.col1 {
  margin-left: 100px;
  width: 380px;
  float: left;
}
.col2 {
  margin-right: 100px;
  width: 380px;
  float: left;
}

.axis {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.axis text {
  fill: #666;
  stroke: none;
  font-family: Arial, sans-serif;
  font-size: 11px;
}
.domain {
  stroke: none;
}
.x-axis .tick line {
  stroke: none;
}
.y-axis .tick {
  stroke: #aaa;
}
.line {
  fill: none;
  stroke: #58794F;
  stroke-width: 4px;
}

.annotation-graph {
  font-size: 11px;
}
.annotation-circle {
  fill: #58794F;
  fill-opacity: 0.2;
  stroke: #333;
  stroke-width: 1px;
}

