.clear {
  clear: both;
}

.graphic {
  width: 960px;
  margin: auto;
}

.graphic h1 {
  font-family: Arial, sans-serif;
  font-size: 27px;
  color: #333;
}

.candidates {
  margin-left: 59px;
}
.candidate {
  float: left;
  margin: 0 2.3px;
  width: 40px;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 13px;
  color: #333;
}
.candidate img {
  max-width: 30px;
  padding: 2px;
  opacity: 0.2;
}

.label {
  font-family: Arial, sans-serif;
  font-size: 13px;
  fill: #333;
  stroke: none;
}
.annotation {
  font-family: Arial, sans-serif;
  font-size: 12px;
  fill: #666;
  stroke: none;
}
.leader-line {
  stroke: #666;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.guide {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.threshold {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
  shape-rendering: crispEdges;
}
.vote-line {
  fill: none;
  stroke: #58794F;
  stroke-opacity: 0.5;
}

