.graphic {
  width: 960px;
  margin: auto;
}

.graphic h1 {
  font-family: Arial;
  font-size: 27px;
  color: #333;
}

.guide {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.threshold {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.vote-line {
  fill: none;
  stroke: #58794F;
  stroke-opacity: 0.5;
}

